<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="Content/css/styles.css" rel="stylesheet" type="text/css">
        <title></title>
    </head>
    <body>
        <h1>Let's Play Hangman!</h1>
        <div id="game-area">
            <div id="box-flex">
                <div id="hangman-box">
                    <p>|</p>
                    <p>|</p>
                    <p>|</p>

                    @{
                        <div id="body-center">
                        if(Model.GetGuess() > 0)
                        {
                            if(Model.GetGuess() >= 1)
                            {
                                <div id="hangman-head"></div>

                                <div id="upper-body">
                                    if(Model.GetGuess() >= 3)
                                    {
                                        <div id="hangman-left-arm"></div>
                                    }
                                    if(Model.GetGuess() >= 2)
                                    {
                                        <div id="hangman-torso"></div>
                                    }
                                    if(Model.GetGuess() >= 4)
                                    {
                                        <div id="hangman-right-arm"></div>
                                    }
                                </div>

                                <div id="lower-body">
                                    if(Model.GetGuess() >= 5)
                                    {
                                        <div id="hangman-left-leg"></div>
                                    }
                                    if(Model.GetGuess() >= 6)
                                    {
                                        <div id="lower-body-filler"></div>

                                        <div id="hangman-right-leg"></div>
                                    }
                                </div>
                            }
                        }
                        </div>
                    }

                </div>
            </div>
            <div id="base-flex">
                <div id="left-base"></div><div id="filler"></div><div id="right-base"></div>
            </div>
        </div>

        <div id="user-area">
            <form action="/" method="post">
                <div class="form-group">
                    <label for="user-guess">Enter your guess: </label>
                    <input id="user-guess" name="user-guess" required="required" placeholder="e" type="text" pattern="\w">
                    <button type="submit">Guess!</button>
                </div>
            </form>
        </div>
    </body>
</html>
